.left-panel {
    position: relative;
    float: left;
    width: 25%;
    height: 100vh;
    border: solid thin rgb(224, 224, 224);
    overflow-y: auto;
    border-right: none;
}

.list-item {
    position: relative;
}
.list-view {
    width: 100%;
    height: 50px;
    padding: 10px;
    cursor: pointer;
}
.list-view:hover {
    background: rgb(224, 224, 224);
}

.top-checkbox {
    float: left;
    margin-top: 10px;
}

.list-phone {
    position: absolute;
    right: 15px;
    top: 20px;
}