.outer-row {
    position: relative;
    padding-left: 15px;
}
.text-field {
    position: absolute;
    top: 24px;
}

.select-field {
    margin-right: 5px;
}

.date-field {
    display: inline-block;
    position: absolute;
    top: 24px;
}

.remove-btn {
    right: 50px;
    top: 24px;
}