
.right-panel {
    position: relative;
    float: left;
    width: 75%;
    height: 100vh;
    border: solid thin rgb(224, 224, 224);
    overflow-y: auto;
    /* padding: 15px; */
}

.header {
    line-height: 48px;
    height: 48px;
    padding-left: 20px;
}

.innerDiv {
    padding: 20px;
}

.card-personal-details {
    width: 47%;
    float: left;
    margin-left: 15px;

}