.cover {
    height: 240px;
    background: #303F9F;
    width: 100%;
}

.header-text {
    color: #fff;
    text-align: center;
    padding-top: 60px;
    font-size: 32px;
    font-weight: 400;
}

.login-card {
    margin: 0 auto;
    margin-top: 30px;
    height: 280px;
    width: 620px;
    text-align: center;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding-top: 30px;
}

.login-title {
    font-size: 20px;
}

.sub-header-text {
    font-weight: 300;
    color: #fff;
    text-align: center;
    font-size: 22px;
}